.multiselect-sm {

  //! setting Multiselect height to 31 px to be in line with other sm inputs
  &.multiselect {
    min-height: 31px !important;
  }

  .multiselect,
  .multiselect__input,
  .multiselect__single {
    font-size: 14px;
  }

  .multiselect__tags {
    min-height: 31px !important;
    padding: 4px 28px 0 4px !important;

  }

  .multiselect__select {
    height: 31px !important;
    width: 30px !important;
  }

  .multiselect__single {
    margin-bottom: 4px !important;
    padding-left: 4px !important;
  }

  .multiselect__input {
    margin-bottom: 4px !important;
  }


  .multiselect__placeholder {
    padding-top: 0 !important;
    margin-bottom: 4px !important;
  }

  .multiselect__option {
    min-height: 25px !important;
    padding: 4px 8px !important;
    line-height: 23px !important;
  }

  .multiselect__current {
    min-height: 31px !important;
  }

  .multiselect__option:after {
    line-height: 31px !important;
  }

  .multiselect__tag {
    margin-bottom: 0 !important;
    padding: 3px 26px 3px 10px !important;
    margin-right: 5px !important;
  }

  .multiselect__tag-icon {
    line-height: 19px !important;
  }
}